<div class='wrapper'>
  <div class='modal'>
    <div class='inputWrapper'>
      <label for="month" class='inputLabel'>
        Month
      </label>
      <input
        type="text"
        [value]="this.selected$ | async | date : 'LLLL'"
        disabled
        class='inputText'
        id="month"
      />
    </div>
    <div class='inputWrapper'>
      <label for="inputdate" class='inputLabel'>
        Day
      </label>
      <input
        disabled
        class='inputText'
        id="inputdate"
        [value]="this.selected$ | async | date : 'd, MMMM'"
        #dayInput
      />
    </div>
    <button class='closeButton' (click)="close()">
    </button>
  </div>
</div>
<!--    {{this.selected$ | async | date:'medium'}}-->
